<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom" style="z-index:9999999">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <div>

                <a class="navbar-brand" href="#page-top" style="padding: 7px 15px;"><span><img src="images/OctoSmall.png" style="max-width: 5%;top: -3px;left: -2px;position: relative;" alt="">OCTO</span></a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#header-collapse"></a>
                </li>
                <li class="page-scroll">
                    <a href="#signup-collapse">Tilmelding</a>
                </li>
                <li class="page-scroll">
                    <a href="#about-collapse">Omkring os</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="row collapse in" id="header-collapse">
    <div class="container" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive main-logo" src="images/OctoSmall.png" alt="">
                <div class="intro-text">
                    <h1 class="name" style="font-size:112px">OCTO</h1>
                    <hr class="star-light">
                    <span class="skills" style="font-size:28px">Loans - Accounts - Advice</span>
                </div>
                <br>
                <a class="btn btn-block btn-success btn-transparent" style="font-size: 50px" data-toggle="collapse" data-target="#header-collapse, #signup-collapse"><span class="glyphicon glyphicon-arrow-down"></span></a>
            </div>
        </div>
    </div>
</header>

<section class="row collapse section" id="signup-collapse">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a class="btn btn-block btn-default btn-transparent" style="font-size: 20px" data-toggle="collapse" data-target="#header-collapse, #signup-collapse"><span class="glyphicon glyphicon-arrow-up"></span></a>
                <h2>Tilmelding</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <form name="signUp" id="signUpForm" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="name">Navn</label>
                        <input type="text" class="form-control" placeholder="Navn" id="name" required data-validation-required-message="Skriv venligst dit navn.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="email">Email Adresse</label>
                        <input type="email" class="form-control" placeholder="Email Adresse" id="email" required data-validation-required-message="Skriv venligst din email adresse.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="phone">Telefon nummer</label>
                        <input type="tel" class="form-control" placeholder="Telefon nummer" id="phone" required data-validation-required-message="Skriv venligst dit telefon nummer.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="phone">Password</label>
                        <input type="password" class="form-control" placeholder="Password" id="phone" required data-validation-required-message="Skriv venligst dit password">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-success btn-lg">Tilmeld</button>
                    </div>
                </div>
            </form>
            <a class="btn btn-block btn-default btn-transparent" style="font-size: 50px" data-toggle="collapse" data-target="#signup-collapse, #about-collapse"><span class="glyphicon glyphicon-arrow-down"></span></a>
        </div>
    </div>
</section>

<section class="success row collapse section" id="about-collapse">
    <div class="row">
        <div class="container">
            <a class="btn btn-block btn-success btn-transparent" style="font-size: 20px" data-toggle="collapse" data-target="#signup-collapse, #about-collapse"><span class="glyphicon glyphicon-arrow-up"></span></a>
            <div class="row collapse in" id="about-collapse1">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Omkring os</h2>
                        <hr class="star-light">
                        <br>
                    </div>
                </div>
                <div>
                    <div class="col-sm-8">
                        <h3 style="margin-top:0px"><u>Vores Historie</u></h3>
                            <p class="about-text">Octo er en serviceorganisation uafhængig af banker, der støtter dig som almindelig borgere med at vælge den bank der kan tilbyde de bedste vilkår til din specifikke privatøkonomiske situation - helt uden omkostninger. </p>

                            <p class="about-text">Vi er et team bestående af 2 ildsjæle med indsigt i den digitale verden og en passion for at gøre privatøkonomi enklere for alle. </p>

                            <p class="about-text">Jeppe Johansen:</p>
                            <p class="about-text">Mikkel Højland:</p>

                            <p class="about-text">Sammen er vi på en mission om at gøre privatøkonomi letter for alle. Synes du også det lyder interessant og har forslag til muligheder, forbedringer eller samarbejde? Fang os på mail@octo.finance og lad os tage en snak. </p>
                    </div>
                    <div class="col-sm-4 about-item">
                        <a href="#aboutModal1" class="about-link" data-toggle="modal">
                            <img src="images/brian.png" class="img-responsive img-max">
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a ng-click="clickAboutCollaps()" class="btn btn-block btn-success btn-transparent" data-toggle="collapse" data-target="#about-collapse2, #about-collapse1">
                      <span class="{{aboutClass}}" style="font-size: 50px"></span>
                    </a>
                </div>
            </div>
            <br>
            <div class="row collapse" id="about-collapse2">
                <div class="col-sm-offset-0 col-sm-4 about-item">
                    <a href="#aboutModal2" class="about-link" data-toggle="modal">
                        <img src="images/mobile.png" class="img-responsive img-max">
                    </a>
                </div>
                <div class="col-sm-8" style="font-size:13px">
                  <h3 style="margin-top:0px"><u>Vores Vision</u></h3>
                    <p class="about-text">Når man handler med banken i dagens Danmark kan det virke som en jungle af juridisk sort snak og gebyrer man ikke forstår. Det er de færreste der har komplet overblik over hvad man reelt betaler sin bank og hvorfor man gør det. I sidste ende er dette uigennemskuelige og besværlige system til bankens gavn, da det man som forbruger ender med at betale en masse gebyrer man ikke har styr på og ikke orker at skifte til en anden bank fordi det simpelthen kræver for meget at     sætte sig ind i systemet.</p>

                    <p class="about-text">I den idéelle verden havde vi alle vores egen personlige bankrådgiver, der hjalp med at sikre at vi som forbruger altid fik det bedste tilbud, og ikke betalte for andet end hvad der er fair og nødvendigt. Denne bankrådgiver ville give dig råd uafhængig af bankens interesse og sikre at bankskifte foregik gnidningsfrit. På en måde kan man sige at denne bankrådgiver ville være blæksprutten der holdt styr på alle bankerne og din finiansielle situation - og heraf opstod    idéen til Octo.</p>

                    <p class="about-text">Målet med Octo er at fjerne bekymringen om bankforhold fra den almindelige bruger, så man ikke behøver at bruge tid og energi på at sætte sig ind i juridiske forhold og forhandle med banker. Vores ypperste mission er at yde den bedste bank-uafhængige rådgivning til vores brugere, og varetage deres finansielle situation så besværfrit som overhovedet muligt.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Lokation</h3>
                    <p>Trommesalen 5
                        <br>1614 København V</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Kontakt</h3>
                    <p>mail@octo.finance
                        <br>+45 1234 5678</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Keep it cool
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- About Modals -->
<div class="about-modal modal fade" style="padding-right:0px" id="aboutModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Modal 1</h2>
                        <hr class="star-primary">
                        <img src="images/OctoSmall.png" style="max-width:40%" class="img-responsive img-centered">
                        <p>Text describing brian</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-modal modal fade" style="padding-right:0px" id="aboutModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Modal 2</h2>
                        <hr class="star-primary">
                        <img src="images/OctoSmall.png" style="max-width:40%" class="img-responsive img-centered">
                        <p>Text describing application</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-modal modal fade" style="padding-right:0px" id="aboutModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Modal 3</h2>
                        <hr class="star-primary">
                        <img src="images/OctoSmall.png" style="max-width:40%" class="img-responsive img-centered">
                        <p>Text describing brian</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
